extends layout.pug

block content 
  body  
  div#login-page-wrapper
    h1#title Hello!
    h3#welcome Welcome to Book Tracker, let's get started.
    a.button.red(href='/auth/google') Login with Google
    
    
  
    
