<!-- TODO: Show spreadsheets -->
  <section id="head">
    <img id="logo" src="/images/google_book.png">
  </section>

  <section id="search-section">
    <form id="searchForm" method='get' action="/search">
      <input id="inputText" type="text" name='bkname' placeholder='Add books to your shelf'/>
      <input id="#submit" type="submit" value="search" />
  </section>
