<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>Book Tracker</title>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Local Assets -->
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js"></script>

  <!-- TODO: Add Google Sign-in library -->
  <meta name="google-signin-scope"
        content="https://www.googleapis.com/auth/spreadsheets">
  <meta name="google-signin-client_id" content="1001649557101-rho3ek87fhc6f3ji837djm1milv9av4f.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <header>
        <h3><a href="/">Book Tracker</a></h3>

        <div id="header-right-wrapper">
          <div id="profile">
            <b class="name"></b>
            <i class="email"></i>
          </div>

          <!-- TODO: Add Google Sign-in button -->
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </header>

    <main id="page-wapper">
      {{{body}}}
    </main>

</body>
</html>
