doctype html  //optional in html5 
html(lang="en")
  head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
  link(rel="stylesheet", href="stylesheets/style.css")
  script(src="javascripts/site.js")

block content
