extends layout.pug

block content 
  title= title
  body
    <img id="logo" src="images/google_book.png">

    // register form
  form#form(method='post' action='/searchbook')
     input#inputText(type='text', name='bkname' value='The Hunger Games' placeholder='Add books to your shelf')
     input#submit(type='submit' value='search')

  main#main_content
     div#mybooks 
     - var values = books;
     
     form#booksform(method='post' action="spreadsheets.php")
       button.button#sheetsBtn(type='submit') add to google sheet
       ul#results
         each val, index in values.length ? values : ['There are no values']
             li= index+1 + ". " + val.title 
              p= val.authors
              input#bookcheck(type='checkbox' name='selected')

         
     canvas#stage
