extends layout.pug

block content 
  title= title
  body
    <img id="logo" src="images/google_book.png">

    // register form
  form#form(method='post' action='/searchbook')
     input#inputText(type='text', name='bkname' value='The Hunger Games' placeholder='Add books to your shelf')
     input#submit(type='submit' value='search')
         
     canvas#stage
