/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/******************************************************/
img {
    display: block;
    float: left;
    width: 3em;
    margin-right: 2em;
}
#logo{
    width: 10em;
    margin: 0 auto;
    margin-top: 3.5em;
    display: block;
}

.button{
    background-color: #008CBA; /* Green */
    border: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.red {
  margin-top: 5em;
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);

	border: 1px solid transparent;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.red:hover {
	background-color: #C53727;
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: linear-gradient(top,#dd4b39,#c53727);
}

#title {
    font-size: 5em;
}

#welcome {
    font-size: 1.3em;
}

body {
    background: #2a2837;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

#login-page-wrapper{
  margin: 0 auto;
  display: block;
  background: #a0a6b6;
  width: 60em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 4em;
  color: #e8e9e1;
}

main-content {
    top: 5em;
    display: flex;
    flex-direction: column;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
input[type="text"] {
   border: 0.063em solid #dd3a27;
   font-size: 1em;
   width: 18.500em;
   text-transform: capitalize;
   padding: 0.375em;
   padding-left: 1.53em;
   height: 2.188em;
   background-image: url(../images/search.png);
   background-repeat: no-repeat;
   text-indent: 20px;
   background-size: 1.5em;
   background-position: left;
   background-position-x: 0.43em;
   background-position-y: 0.66em;
   border-bottom-left-radius: 0.13em;
   border-top-left-radius: 0.13em;
}
input[type="submit"] {
    display: block;
    width: 6.250em;
    border: 0;
    height: 2.2em;
    color: #fff;
    background: #dd3a27;
    font-size: 1em;
    cursor: pointer;
    padding: 0.375em;
    border-top-right-radius: 0.13em;
    border-bottom-right-radius: 0.13em;
}
form {
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    width: 22.750em;
    height: auto;
}
#results {
    margin: 0 auto;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    width: 23.750em;
    height: 40em;
    overflow: auto;
    color: white;
}
a {
    color: #ffe3c7;
    text-decoration: none;
}
#feedback {
    font-size: 1.4em;
}
#results .ui-selecting {
    background: #FECA40;
    height: auto;
}
#results .ui-selected {
    background: #F39814;
    color: white;
    height: auto;
}
#results li {
    height: auto;
    padding: 1.5em;
    list-style: none;
}
/*style author names*/

.author {
    color: #f9f494;
    font-size: 0.8em;
}

#mybooks{
    width:23.750em;
    border:solid white 1px;
    color: white;
    margin: 0 auto;
}
#add{
    border: 1px solid #404040;
    background: #cc2222;
    background: -webkit-gradient(linear, left top, left bottom, from(#e87b7b), to(#cc2222));
    background: -webkit-linear-gradient(top, #e87b7b, #cc2222);
    background: -moz-linear-gradient(top, #e87b7b, #cc2222);
    background: -ms-linear-gradient(top, #e87b7b, #cc2222);
    background: -o-linear-gradient(top, #e87b7b, #cc2222);
    background-image: -ms-linear-gradient(top, #e87b7b 0%, #cc2222 100%);
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #c70032 0 1px 0;
    color: #f0f0f0;
    margin-top: 0.5em;
    font-family: arial, serif;
    text-decoration: none;
    vertical-align: middle;
    float: right;
}

#add:hover{
    background-color: #e7e7e7;
}

#mybooks{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    padding: 0.5em;
    margin-top: 1em;
}

.logo{
    background: url('../img/google_book.png');
    width: 600px;
}
