/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/******************************************************/

header{
  height: 3em;
  background: #34a853;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
    width: 10em;
    margin: 0 auto;
    display: block;
}

#search-section{
  margin: 0 auto;
  text-align: center;
}

#profile{
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.button{
    background-color: #008CBA; /* Green */
    border: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button.red {
  margin-top: 5em;
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);

	border: 1px solid transparent;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.button.red:hover {
	background-color: #C53727;
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: linear-gradient(top,#dd4b39,#c53727);
}

input[type="text"] {
   border: 0.063em solid #dd3a27;
   font-size: 1em;
   width: 13.5em;
   text-transform: capitalize;
   padding: 0.375em;
   padding-left: 1.53em;
   height: 1.36em;
   background-image: url(../images/search.png);
   background-repeat: no-repeat;
   text-indent: 20px;
   background-size: 1.5em;
   background-position: left;
   background-position-x: 0.43em;
   background-position-y: 0.33em;
   border-bottom-left-radius: 0.13em;
   border-top-left-radius: 0.13em;
}
input[type="submit"] {
    display: block;
    width: 6.250em;
    border: 0;
    height: 2.2em;
    color: #fff;
    background: #dd3a27;
    font-size: 1em;
    cursor: pointer;
    padding: 0.375em;
    border-top-right-radius: 0.13em;
    border-bottom-right-radius: 0.13em;
}

form {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
}

#result-section{
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#results {
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    width: 0.938em;
    height: auto;
    overflow: auto;
    color: #008cba;
}


html, body {
font-family: 'Roboto', 'Helvetica', sans-serif;
justify-content: center;
}

main {
  padding: 8px;
  padding-top: 48px;
}

header h3{
  margin-left: 2em;
}

#header-right-wrapper{
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3 a {
  color: white;
  text-decoration: none;
}

#add{
    width: 200px;
    border: 1px solid #404040;
    background: #cc2222;
    background: -webkit-gradient(linear, left top, left bottom, from(#e87b7b), to(#cc2222));
    background: -webkit-linear-gradient(top, #e87b7b, #cc2222);
    background: -moz-linear-gradient(top, #e87b7b, #cc2222);
    background: -ms-linear-gradient(top, #e87b7b, #cc2222);
    background: -o-linear-gradient(top, #e87b7b, #cc2222);
    background-image: -ms-linear-gradient(top, #e87b7b 0%, #cc2222 100%);
    padding: 3px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #c70032 0 1px 0;
    color: #f0f0f0;
    margin-top: 0.5em;
    font-family: arial, serif;
    text-decoration: none;
    vertical-align: middle;
    float: right;
    display: block;
}

#add:hover{
    background-color: #e7e7e7;
}


.button.blue {
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);

	border: 1px solid #3079ED;
	color: white;
}

.button.blue:hover {
	border: 1px solid #2F5BB7;

	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

form#booksform {
    display: flex;
    flex-direction: column;
}

ul{
  width: 19em;
  overflow: auto;
  background: #ffff66;
}

.book_list{
   height: auto;
   padding: 1.5em;
   list-style: none;
}

.book_list li
{
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

#labels-wrapper{
  display: flex;
  flex-direction: column;
}
section#mybooks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

#create-form-wrapper{
  display: flex;
  flex-direction: column;
}

#spreadsheets{
  text-align: center;
}

div#book-wrapper, #book-detail-wrapper {
    background: #e5e5e5;
    margin: 1em;
    width: 20em;
    padding: 1em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

a#addBtn {
    background: #cc2222f2;
    margin: 1em;
    width: 20em;
    padding: 1em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    color: white;
    text-align: center;
    text-decoration: none;
}

#searchBtn{
  background: #cc2222f2;
  margin: 1em;
  width: 200%;
  padding: 1em;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  color: white;
  text-align: center;
}

#searchBtn {
    background: #4285f4;
    margin: 1em;
    width: 22em;
    padding: 1em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    color: white;
    text-align: center;
    font-size: unset;
}

div#section-wrapper,div#books-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

div#sheets-top, #sheets-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    align-items: center;
}

#sheets-top p{
  font-size: 2em;
}
main#page-wapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

input#bookAuthor {
    margin-bottom: 3em;
}


.button.-sun {
    color: #f15c5c;
    background: var(--color-sun);
}

// button styles
.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-dark {
  color: #FFFFFF;;
  background: #3dd28d;

   &:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
}

.button.-green {
  color: var(--color-snow);
  background: var(--color-grass);
}

.button.-blue {
  color: var(--color-snow);
  background: var(--color-ocean);
}

.button.-salmon {
  color: var(--color-snow);
  background: var(--color-salmon);
}

.button.-sun {
  color: #f15c5c;
  background: #feee7d;
}

// colors
:root {
  --color-dark:  #161616;
  --color-ocean:  #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;

  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input#upsert-bookname-input, input#upsert-bookauthor-input {
    margin-bottom: 2em;
    margin-top: 1em;
}

h2#book-details-h2 {
    font-size: 2em;
}

div#sheets-container {
    width: 23em;
    display: flex;
    flex-direction: column;
}

div#book-wrapper div {
    padding: 7px;
}

div#book-wrapper #title{
  font-size: 1.5em;
}
